/* ==========================================================
   Header
========================================================== */

header{

    width:100%;

    padding:30px;

}

.header-container{

    max-width:1280px;

    margin:auto;

    display:flex;

    justify-content:center;

}

.logo{

    width:260px;

}